.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.wrapper{
  margin-top: 4rem!important;
  min-height: 120vh;
  /*position: relative;←相対位置*/
  padding-bottom: 130px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}


.footer {
  width: 100%;
  background-color: #c78a44;
  color: #fff;
  text-align: center;
  padding: 30px 0;

  /* background-color: transparent; */
  position: fixed;
  bottom: 0; /*下に固定*/
}

.loginbutton {
  display: block;
  margin: 0 0 0 auto;
}
